@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 0% 7.5%;
    --foreground: 0 0% 98%;
    --card: 240 0% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 0% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 96 78% 60%;
    --primary-foreground: 210 20% 98%;
    --secondary: 240 0% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 0% 11%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 0% 15.9%;
    --input: 240 0% 15.9%;
    --ring: 96 78% 60%;
    --radius: 0.5rem
  }


  .dark {
    --background: 240 0% 7.5%;
    --foreground: 0 0% 98%;
    --card: 240 0% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 0% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 96 78% 60%;
    --primary-foreground: 210 20% 98%;
    --secondary: 240 0% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 0% 11%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 0% 15.9%;
    --input: 240 0% 15.9%;
    --ring: 96 78% 60%
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-workSans text-foreground min-w-[20rem];
  }
}